@import "../../styles/partials/mixins";
@import "../../styles/partials/fonts";

// PHOTO GALLERY
.gallery {
  background-color: $color0-1;
  @include w-h-100-auto;
  padding: 40px 25px 20px 25px;
  @include flex-start-all;
  flex-flow: column nowrap;
  box-sizing: border-box;
  color: $color2;

  @include tablet {padding: 40px 20px 10px;}

  @include desktop {
    padding-top: 35px;
    padding-bottom: 10px;
    @include padding-lr-150;
  }

  &__writing {
    background-image: url("../../assets/Images/Photo-gallery-1.png");
  }

  &__title {
    padding-bottom: 40px;

    @include tablet {
      font-size: 35px;
      padding-bottom: 55px;
    }

    @include desktop {
      font-size: 30px;
      padding-bottom: 45px;
    }
  }

  &__container {
    @include tablet {
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
      justify-content: space-between;
      @include w-h-100-auto;
    }
  }

  &__image {
    @include w-h-100-auto;
    object-fit: cover;
    margin-bottom: 25px;
    border-radius: 10px;

    @include tablet {
      width: 48%;
      height: 200px;
      margin: 0;
      padding: 0;
      margin-bottom: 23px;

      filter: grayscale(100%);
      transition: .5s ease-in-out;
      &:hover {filter: grayscale(0);}
    }

    @include desktop {
      width: 32%;
      margin-bottom: 22px;
    }
  }
}